

.infoBox{
    flex:1;
    cursor:pointer;
    /* box-shadow:rgb(0 0 0 / 69%) 10px 26px 30px -10px,
    rgb(0 0 0 / 73%) 0px 16px 10px -10px; */
    transition: all 250ms cubic-bezier(0.25, 0.46,0.45, 0.94) 0s;
    
}

.infoBox :hover{
    transform: scale(1.03);
    border-color: 3px solid rgba(249,249,249,0.8);
}

.infoBox:not(:last-child){
    margin-right: 18px;
}

.infoBox__cases{
    color:#ffaa00;
    
    font-weight: 600;
    font-size: 1.75rem;
    margin-bottom: 0.5rem;
}

.infoBox__title{
    color:#03045e;
    font-weight:1200;
}




.infoBox__total{
    color:#6c757d;
    font-weight: 700 !important;
    font-size: 1rem !important;
    margin-top: 15px !important;
}

.infoBox--selected{
    border-top:10px solid 
    #ffaa00;
}

.infoBox__cases--recovered{
    color:#90be6d;
}
.infoBox--recovered {
    
    border-top:10px solid 
    #90be6d;
    
}

.infoBox__cases--deaths{
    color:#ba181b;
}

.infoBox--deaths {
    
    border-top:10px solid 
    #ba181b;
    
}


